<section class="profile">
  <div class="link-back">
    {{{buttonArrow}}}
  </div>
  <div class="profile__container center">
    {{{avatar}}}
    <h5 class="profile__name">Татьяна</h5>
    <form class="profile__form" action="">
      <div class="profile__fields">
        {{#each profileInputs}}
          {{{this}}}
        {{/each}}
      </div>
      <div class="profile__links">
        {{{editInfoLink}}}
        {{{editPasswordLink}}}
        {{{exitLink}}}
      </div>
    </form>
  </div>
  {{{popup}}}
</section>



