<section class="profile">
  <a class="link-back" href="/chat">
    {{{buttonArrow}}}
  </a>
  <div class="profile__container center">
    {{{avatar}}}
    <h5 class="profile__name">Татьяна</h5>
    <div class="profile__form">
      <div class="profile__fields">
        {{#each profileInputs}}
          {{{this}}}
        {{/each}}
      </div>
      <div class="profile__links">
        {{{editInfoLink}}}
        {{{editPasswordLink}}}
        {{{exitLink}}}
      </div>
    </div>
  </div>
</section>



