<div class="chat-sidebar">
  <div class="chat-link__container">
    {{{createChatButton}}}
    {{{profileLink}}}
  </div>
  {{{searchInput}}}
  <div class="chat-list">

      {{#each chatList}}
        {{{this}}}
      {{/each}}

  </div>
  {{{popupCreateChat}}}
</div>
