<div class="chat-item {{#if selected}}selected{{/if}}">
  <div class="chat-item__avatar small-avatar">
    {{#if avatar}}<img src="{{avatar}}" alt="Avatar" /> {{/if}}
  </div>
  <div class="chat-item__content">
    <div class="chat-item__title">
      <div class="chat-item__name">{{title}}</div>
      <time class="chat-item__time">{{time}}</time>
    </div>
    <div class="chat-item__desc">
      <div class="chat-item__msg">
        {{#if lastMessageMine}}
          <span class="chat-item__msg-mine">Вы:</span>
        {{/if}}
        {{last_message}}</div>
      {{#if unread_count}}
        <div class="chat-item__unread">
          <span>{{unread_count}}</span>
        </div>
      {{/if}}
    </div>
  </div>
</div>
