<div class="chat-content__header">
  {{{popoverEditChat}}}
  {{{popupAddUserToChat}}}
  {{{popupChatUserList}}}
  <div class="chat-content__header-info">
    <div class="chat-content__header-avatar small-avatar">
    </div>
    <h5 class="chat-content__header-name">{{title}}</h5>
  </div>
  {{{buttonEditChat}}}
</div>
